@{
    ViewBag.Title = "Acerca de";
}
<h2>Grupo 12</h2>
<h3>Creado Por</h3>
<h3>Jordy Natera</h3>
<h3>Neolfi Roman</h3>
<h3>Maicols Zorrilla </h3>




<p>Practica de Mantenimiento</p>
<p>Con Entity y MVC</p>

